.text-animate{
    display: inline-block;
    opacity: 0;
    animation:bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 15px;
}
.text-animate-hover{
    min-width: 10px;
    display: inline-block;
    animation-fill-mode:both ;
    

    &:hover{
        color:chocolate;
        animation: rubberBand 1s;
   
    }
  
}
@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@for $i from 1 through 47{
    .text-animate._#{$i}{
        animation-delay: #{$i / 10}s;
    }
}