//  h1{
//     font-family:sans-serif;
//  }
 
//  .img-container {
//    position: absolute;
//    right: 10%;
//    top: 30%;
//    transform: translateX(45%);
//    width: 43.5%;
//    vertical-align: baseline;
//    color: white;
//    display: table-cell ;
//    height: 70%;
//    z-index: -99;

// .about-img {
//        display: block;
//        border: 3px solid #fefefe;
//        width: 45%;
//        height: 300px;
//        background-image: url(/assets/img/ade2.png);
       
//        background-position: center;
//        background-size: cover;
//        background-repeat: no-repeat;
//        border-radius:70% 70% 50% 70%/60% 60% 90% 70%;
//        -webkit-animation: morph 8s ease-in-out infinite;
//         animation: morph 8s ease-in-out infinite;
//    }

// }

// @keyframes morph {
//    0% {
//       border-radius:70% 70% 50% 70%/60% 60% 90% 70%;
//   }
//   50% {
//       border-radius: 70% 90% 70% 70%/60% 80%  80% 70%;;
//   }
//   100% {
//    border-radius:70% 70% 50% 70%/60% 60% 90% 70%;
//   }
// }



// img{
//    width: 100%;
// }
// // #myCanvasContainer {
// //    position: relative;
// //    height: 100%;
// //    width: 100%;
// // }
// // canvas{
// //    position: absolute;
// //    right: 0;
// // }
// @media (max-width: 834px) {
//   .img-container{
//    right: -7%;
//    width: 70%;
  
//   }
 
// }
// @media (max-width: 768px){
  
//           img{
//             width: 100%;
            
         

//           }
        
   
//    .img-container{
//    position: relative;
//     top: 23%;
//     right: 30%;
//     margin-left: 50%;
//     z-index: -9;
//     width: 100%;
//     opacity: 0.6;
//     .about-img{
//         width: 70%;
//         &:hover{
//          cursor: pointer;
//          z-index:10000;
//        }
//     }
//     &:hover{
//       cursor: pointer;
//       z-index:10000;
//     }
//    }
// }
#svg-path {
    stroke-width: 10;
    stroke-dashoffset: 10;
    animation: dash 5s linear alternate ;
  
}

#path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
   
}

@keyframes dash {
    from {
        stroke-dashoffset: 10;
    }

    to {
        stroke-dashoffset: 882;
        stroke:#0CB6B3;;
    }
}
// .solid-logo2{
//     opacity: 0;
// }